.widget-categories {
    
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        & a {
            display: block;
            padding: 5px 0;
            transition: padding-left 0.5s;
            border-radius: 4px;
        }
    }
}