.widget-categories {
    
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        & a {
            display: block;
            padding: 5px 0;
            transition: padding-left 0.5s;
            border-radius: 4px;

            &:hover {
                padding-left: 10px;
                color: $color-accent;
                background: rgba(0, 0, 0, 0.5);
                @include text-shadow;
            }
        }
    }
}