.widget-search {
    
    & form {
        position: relative;
        margin: 15px 0 7px;
    }

    &__input {
        width: 100%;
        padding: 7px 8px 7px 40px;
        text-overflow: ellipsis;
        color: $color-gray;
        border: 1px solid rgba(238, 238, 238, 0.15);
        border-radius: 4px;
        background: rgba(238, 238, 238, 0.1);
        font-size: 0.85rem;

        &::placeholder {
            color: $color-gray;
        }

        &:focus {
            color: $color-light;
            border: 1px solid rgba(238, 238, 238, 0.3);
            outline: none;
            background: rgba(238, 238, 238, 0.2);
        }
    }

    &__submit {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        padding: 5px 7px;
        cursor: pointer;
        color: $color-light;
        border: none;
        border-right: 1px solid rgba(238, 238, 238, 0.1);
        background-color: transparent;
    }
}