.right {
    order: 3;

    @include lg-min {
        flex: 0 0 240px;
        margin-bottom: 15px;
    }
    @include lg-md {
        width: 100%;        
    }
    @include md-xs {
        width: 50%;
        padding-left: 7.5px;
    }
    @include xs {
        width: 100%;
    }
}